<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>952322</key>
	<string>Brenden Aaronson</string>
	<key>1171008</key>
	<string>Paxten Aaronson</string>
	<key>729769</key>
	<string>Tyler Adams</string>
	<key>982677</key>
	<string>Folarin Balogun</string>
	<key>1159539</key>
	<string>Taylor Booth</string>
	<key>924431</key>
	<string>Gianluca Busio</string>
	<key>1173678</key>
	<string>Johnny</string>
	<key>780418</key>
	<string>Luca de la Torre</string>
	<key>892816</key>
	<string>Sergino Dest</string>
	<key>848266</key>
	<string>Weston McKennie</string>
	<key>924485</key>
	<string>Mark McKenzie</string>
	<key>1137272</key>
	<string>Yunus Musah</string>
	<key>1136099</key>
	<string>Kevin Paredes</string>
	<key>613714</key>
	<string>Jordan Pefok</string>
	<key>1036401</key>
	<string>Ricardo Pepi</string>
	<key>688295</key>
	<string>Christian Pulisic</string>
	<key>1071179</key>
	<string>Giovanni Reyna</string>
	<key>950829</key>
	<string>Chris Richards</string>
	<key>662428</key>
	<string>Antonee Robinson</string>
	<key>848011</key>
	<string>Joshua Sargent</string>
	<key>959696</key>
	<string>Joseph Scally</string>
	<key>1126058</key>
	<string>Malik Tillman</string>
	<key>688271</key>
	<string>Auston Trusty</string>
	<key>729988</key>
	<string>Matt Turner</string>
	<key>889536</key>
	<string>Timothy Weah</string>
</dict>
</plist>
