<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8463</key>
	<array/>
	<key>9908</key>
	<string>FC Utrecht</string>
	<key>9885</key>
	<string>Juventus</string>
	<key>10203</key>
	<string>Nottingham Forest</string>
	<key>8657</key>
	<string>Sheffield United</string>
	<key>8640</key>
	<string>PSV Eindhoven</string>
	<key>9788</key>
	<string>Borussia Mönchengladbach</string>
	<key>9850</key>
	<string>Norwich City</string>
	<key>8149</key>
	<string>Union Berlin</string>
	<key>8721</key>
	<string>Wolfsburg</string>
	<key>9941</key>
	<string>Toulouse</string>
	<key>9910</key>
	<string>Celta Vigo</string>
	<key>8603</key>
	<string>Real Betis</string>
	<key>7881</key>
	<string>Venezia</string>
	<key>9829</key>
	<string>Monaco</string>
	<key>8678</key>
	<string>AFC Bournemouth</string>
	<key>9879</key>
	<string>Fulham</string>
	<key>9826</key>
	<string>Crystal Palace</string>
	<key>9789</key>
	<string>Borussia Dortmund</string>
	<key>8564</key>
	<string>AC Milan</string>
	<key>8669</key>
	<string>Coventry City</string>
</dict>
</plist>
